<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

  {% include head.html %}

  <body>
    <div align=left>
      <h1 class="home-title"><a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}"><img src="\assets\small_cc.png?" height="64" width="64"></a>  EBAC</h1>
    </div>

    {% include header.html %}


        {{ content }}

    {% include footer.html %}

    {% include script.html %}

  </body>

</html>
