---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center materialize-red-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="section">
          <div class="row">
                <div class="carousel carousel-slider center" data-indicators="true" data-namespace="DIVcarouselcarousel-slider1" style="height: 400px;">
                <div class="carousel-fixed-item center with-indicators">
                </div>
                <div class="carousel-item red white-text" href="#four!" style="transform: translateX(0px) translateX(-953.906px) translateZ(0px); z-index: -1; opacity: 1; display: block;">
                  <h2>Announcements</h2>
                  <p class="white-text">Next meeting will be hosted Wednesday, February 28th, 2018 at CSU East Bay Meiklejohn Hall, room 4011.</p>
                  <p class="white-text">We are having a Saturday Get-to-Know Hayward event, on February 24th, 2018! Meet us at the East Bay Campus, 8:00am to get started.</p>
                  </br>
                  <p class="white-text">For more information on our Saturday event, check the schedule under our resources tab.</p>
                </div>
                <div class="carousel-item blue white-text active" href="#one!" style="z-index: 0; opacity: 1; display: block; transform: translateX(0px) translateX(0px) translateX(0px) translateZ(0px);">
                  <h2>Activities Showcase</h2>
                  <p class="white-text">This week we had another Taco Tuesday date on the 20th, and tabled for our upcoming event on the 22nd.</p>
                  <p class="white-text">We are having a Saturday Get-to-Know Hayward event, on February 24th, 2018! Meet us at the East Bay Campus, 8:00am to get started.</p>
                </br>
                  <p class="white-text">Future activities will include hiking, visiting beaches, service at Sulphur Creek Nature center,</p>
                  <p class="white-text">meetings at the Hayward Japanese Garden, and many more!</p>
                </div>
                <div class="carousel-item amber white-text" href="#two!" style="transform: translateX(0px) translateX(953.906px) translateZ(0px); z-index: -1; opacity: 1; display: block;">
                  <h2>Assorted Media</h2>
                </br>
                  <div class="inline-block">
                    <img src="\assets\small_bw.png?" height="116" width="116">
                    <img class="photo" src="\assets\landscape.jpg?">
                    <img src="\assets\small_cc.png?" height="116" width="116">
                  </div>
                </br>
                  <p class="white-text">Check out our resources tab for more!</p>
                </div>
                <div class="carousel-item green white-text" href="#three!" style="transform: translateX(0px) translateX(-1907.81px) translateZ(0px); z-index: -2; opacity: 1; display: block;">
                  <h2>Featured Member</h2>
                  <img class="member" src="\assets\IMG_2306.JPG?">
                  <p class="white-text">Current Featured Member: Keenan Nilson</p>
                  <p class="white-text">Keenan helps prepare us for major events by setting times, distributing resources and creating media such as flyers and posters.</p>
                </div>
              <ul class="indicators"><li class="indicator-item active"></li><li class="indicator-item"></li><li class="indicator-item"></li><li class="indicator-item"></li></ul></div>
          </div>
      </div>

      <!--   Icon Section -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">help_outline</i></h2>
            <h5 class="center">Introduction</h5>

            <p class="light">Many people in the world today are deprived of personal fulfillment and purpose. This is the result of an instinctual desire to be a part of something greater, and other entities across the world capitalize on this. Through Action Congress, direction and purpose will not be used to make money or to gain votes, but for the collective well-being of its members, and the communities they serve. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">lightbulb_outline</i></h2>
            <h5 class="center">Our Purpose</h5>

            <p class="light">Our objective as an organization is to provide others purpose through activities which strengthen community awareness and promote personal growth. Through conscious reflection of our behavior and our values, we strive to uplift the emotional and mental fortitude of our members, instilling into them confidence and self-awareness. By introducing activity into our member’s lives, we will inspire our members to achieve self-efficacy and worth, and encourage them to promote these qualities to others.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">build</i></h2>
            <h5 class="center">What We Do</h5>

            <p class="light">Action Congress aims at supporting communities and uplifting others by instilling confidence and self-awareness through civil discussion and hosting team-building events. By introducing these activities into other's lives, we will develop our strengths both as a group and as individuals.</p>
          </div>
        </div>
      </div>

    </div>

    </div>
    <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Latest Posts</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>
    </section>
    </div>
</div>
</div>
